<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.media.player.ott"
		  android:versionCode="1"
		  android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/player_name"
        android:theme="@style/AppTheme">

         <!--
        <activity
            android:name="com.android.media.ui.PlayerMainActivity"
            android:label="@string/player_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
         -->

        <activity
            android:name="com.android.media.ui.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/player_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>

                <!-- <action android:name="android.intent.action.VIEW" /> -->
                <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="video/*"/>
                <data android:scheme="http"/>
                <data android:scheme="httplive"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.android.media.player.cmd.PlayerCommandReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>
    </application>

</manifest>